* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 255, 253);
}

#page-space {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 1rem;
}

#document-title {
  color: rgb(0, 88, 84);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.129);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

#main-container {
  width: 100%;
  flex: 1;
  display: flex;
  min-height: 0;
}

#left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: white;
  border: 2px solid rgb(0, 97, 92);
  gap: 10px;
}

.panel-container {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.panel-heading {
  text-align: center;
  color: white;
  font-size: 2rem;
  background-color: rgb(0, 97, 92);
  padding: 0.5rem;
}

.button-box {
  display: flex;
  justify-content: center;
}

#right-panel {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 97, 92, 0.15);
  /*border-width: 2px 2px 2px 0;
    border-color: rgb(0, 97, 92);
    border-style: solid;*/
}

footer {
  background-color: rgba(0, 97, 92, 0.377);
  text-align: center;
}

.footer-text,
.name-text,
.footer-link,
.year {
  font-size: 1.5rem;
}

.name-text,
.footer-link {
  color: rgb(129, 255, 249);
  font-weight: bold;
}

.name-text {
  font-style: italic;
}
