.task {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 26px;
    align-items: center;
    padding-left: 26px;
    cursor: pointer;
}

.task:hover {
    background-color: rgb(195, 255, 253);
}

.empty-circle {
    border: 2px solid rgb(0, 97, 92);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.empty-circle:hover {
    border-width: 4px;
}

.existing-property {
    margin-right: 10px;
}

.task-text {
    font-size: 16px;
    color: rgb(0, 97, 92);
    display: flex;
    align-items: center;
}

.task-edit-button {
    background-color: rgb(0, 219, 208);
    padding: 3px;
    border-radius: 50%;
}

.task-edit-button:hover {
    background-color: rgb(235, 255, 254);
}

.task-delete-button {
    font-weight: bold;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(0, 97, 92);
    color: white;
}

.task-delete-button:hover {
    background-color: rgb(0, 148, 141);
}